AccesoDatos/Connected Services/srvGeoLocalizacion/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContenedorLoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginUsuarioDto" nillable="true" type="tns:LoginUsuarioDTO" />
      <xs:element minOccurs="0" name="Respuesta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContenedorLoginDTO" nillable="true" type="tns:ContenedorLoginDTO" />
  <xs:complexType name="LoginUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado_Contrasena" type="xs:int" />
      <xs:element minOccurs="0" name="Estado_Usuario" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id_usuario" type="xs:long" />
      <xs:element minOccurs="0" name="IntentosContrasena" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUsuarioDTO" nillable="true" type="tns:LoginUsuarioDTO" />
  <xs:complexType name="ArrayOfReporteHuecoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteHuecoDTO" nillable="true" type="tns:ReporteHuecoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteHuecoDTO" nillable="true" type="tns:ArrayOfReporteHuecoDTO" />
  <xs:complexType name="ReporteHuecoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordenadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisLike" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Reporte" type="xs:long" />
      <xs:element minOccurs="0" name="Like" type="xs:int" />
      <xs:element minOccurs="0" name="TipoH" type="xs:int" />
      <xs:element minOccurs="0" name="Url_Img" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteHuecoDTO" nillable="true" type="tns:ReporteHuecoDTO" />
</xs:schema>