AccesoDatos/Connected Services/srvGeoLocalizacion/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUsuarioDTO" nillable="true" type="tns:LoginUsuarioDTO" />
</xs:schema>