AccesoDatos/Connected Services/srvGeoLocalizacion/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60127/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelos" />
  <xs:element name="IngresarLoginEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarLoginEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modelos" minOccurs="0" name="IngresarLoginEventResult" nillable="true" type="q1:ContenedorLoginDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroLoginEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroLoginEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistroLoginEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginRecoverPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginRecoverPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modelos" minOccurs="0" name="LoginRecoverPasswordResult" nillable="true" type="q2:ResetPassDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pass1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarReporteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LatVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LngVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DirVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipVal" type="xs:int" />
        <xs:element minOccurs="0" name="URLVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DescVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserVal" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarReporteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarReporteEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaReportesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_Usuario" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaReportesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Modelos" minOccurs="0" name="ConsultaReportesUsuarioResult" nillable="true" type="q3:ArrayOfReporteHuecoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizacionEstadoRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_Registro" type="xs:long" />
        <xs:element minOccurs="0" name="tipoA" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizacionEstadoRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizacionEstadoRegistroResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaReporteGeneral">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaReporteGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Modelos" minOccurs="0" name="ConsultaReporteGeneralResult" nillable="true" type="q4:ArrayOfReporteGeneralDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaReporteGeneralDatos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaReporteGeneralDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Modelos" minOccurs="0" name="ConsultaReporteGeneralDatosResult" nillable="true" type="q5:ReporteConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroInteraccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRegistro" type="xs:long" />
        <xs:element minOccurs="0" name="UserVal" type="xs:long" />
        <xs:element minOccurs="0" name="TipoLike" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroInteraccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistroInteraccionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>